[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
datetime = "*"
counter = "*"
gensim = "*"
python-levenshtein = "*"
spacy = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
